/* Prolix */
@ineffable: #800080;
@isoitem: 184px;
@isopad: 10px;
@isomargin: 0 @isopad @isopad 0;

body {
	background: #222222;
	font: 16px arial, sans-serif;
}
#container {
	position:fixed;
	top: 0;
	left: 0;
	background: #888;
	height: 100%;
	width: 100%;
}
.contentcontainer{
	height: 92%;
	background: #888;
	margin:  2% 0 2% 200px;
}
#contentwrapper{
	height: 100%;
	overflow: scroll;
	overflow-y: hidden;
	background: #FFFFFF;
}
#contentgallery{
	height: 100%;
	padding: 50px 0 50px 0;
}

.content{
	height:100%;
	margin: 30px;
}
#contentvertical{
	margin-left: 200px;
	height: 100%;
	overflow: auto;
}
#contentblogpost{
	background: white;
	min-width: 400px;
	max-width: 600px;
	margin: auto;
	padding: 122px 15% 5% 15%;
}
#contentpage{
	background: white;
	width: 900px;
	height: 100%;
	margin: auto;
}
#contentpagetext{
	background: white;
	padding: 122px 50px 5% 50px;
}


/*nav*/
.sidebar{
	z-index: 10; 
	position: absolute;
	width: 170px;
	float: left;
	height:100%;
	background: #000;
	padding: 140px 0 0 30px;
}

nav{
	margin-top: 30px;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	margin: 12px 0 0 0;
}
nav ul li a{
	text-decoration: none;
	font-size: 15px;
	color: @ineffable;
}

.menu{
	padding-left: 10px;
}

/*header*/
	.site-description{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: gray;
	font-size:12px;
	padding-top:15px;
	width: 130px;
}

strong, b {
	font-weight: bold;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	line-height: 0px;
	margin-top: 0;
}
.title a, .title a:hover, .title a:link, .title a:visited{
	color: white;
	text-decoration:none;
}
.dax{
	color: white;
	opacity:0.06;
	line-height: 150%;
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}

h2 {
	font-size: 1.5em;
	margin-top: 0;
	padding: 0;
}

h3 {
	font-size: 18px;
}

h4 {
	font-weight: bold;
	padding-bottom: 20px
}

#footer{
	position: absolute;
	bottom: 140px;
	padding: 20px;
	left: 0;
	color: #444;
	font-size: smaller;
}

.entry-title-index {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.0909090909;
	margin-bottom: 12px;
	margin: 0 0 12px 0;
	text-transform: uppercase;
}
.entry-title-index a{
	color: #2b2b2b;
	text-decoration: none;
	
}

.entry-title-index a:hover{
	color: @ineffable;
}

.categ {
	font-weight: 900;
	text-transform: uppercase;
}

.categ a {
	font-size: 14px;
	color: @ineffable;
	text-decoration: none;
	line-height: 26px;
}

.categ a:hover {
	color: @ineffable;
}

.entry-header-index {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px 4px 4px 6px; 
  	margin: 103px 7px 0px 0px;
	background: white;
	opacity:0.9;
}


.isotope-item {
	overflow: hidden;
	z-index: 3;
}

.isotope-item img {
	width: 100%;
	height: auto;
	z-index:1;
 	display: block;
}
.item.portrait img {
	width: auto;
	height: 100%;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 2;
}

#content{
background: pink;
}

.item {
  float: left;
  background: #EEE;
  margin: @isomargin;
  width: @isoitem;
  height: @isoitem;
}

.item.w2 { width: (@isoitem * 2) + @isopad; }
.item.h2 { height:(@isoitem * 2) + @isopad; }
.item.w3 { width: (@isoitem * 3) + (@isopad * 2);}
.item.h3 { height:(@isoitem * 3) + (@isopad * 2);}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope { 
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
	height:	100%;
	color:pink;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 30px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 30px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
