/* Prolix */
@ineffable: #800080;
@demi: #C0C0C0;
@isoitem: 180px;
@isopad: 10px;
@isomargin: 0 @isopad @isopad 0;
@border: 3px solid #eee;

body {
	font: 16px arial, sans-serif;
}

a {
	color: @ineffable;
}
#container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: @demi;
}
.heightVar {
	position: relative;
	height: 100%;
	top: 5%;
	bottom: 5%;
}
.heightVar.big {
	position: relative;
	top: 10%;
	height: 75%;
}
.contentcontainer {
	position: absolute;
	top: 40px;
	bottom: 50px;
	left: 200px;
	right: 0;
	background: @demi;
}
#contentwrapper {
	height: 100%;
	overflow: scroll;
	overflow-y: hidden;
	background: white;
}
#contentpage {
	background: white;
	width: 900px;
	height: 100%;
	margin: auto;
}
#contentpagetext {
	background: white;
	padding: 122px 50px 5% 50px;
}
#contentgallery {
	height: 100%;
	padding: 50px 0 50px 0;
}
#contentvertical {
	margin-left: 200px;
	height: 100%;
	overflow: auto;

	img {
		max-width: 600px;
		height: auto;
	}
}
.content {
	height: 100%;
	padding-left: 30px;
	padding-right: 20px;
}
.contentblogpost {
	background: white;
	min-width: 400px;
	max-width: 600px;
	margin: auto;
	padding: 122px 15% 0 15%;
}
.post-info {
	padding-bottom: 30px;
}
#respond {
	padding: 15px;
	background: lightgray;
	margin-top: 30px;
}

.comment{
	display: block;
	background: #DDD;
	margin-bottom: 10px;
	padding: 6px;
	.comment-body{
		overflow: hidden;
	}
	.comment-author{
		background: #FFF;
		padding: 10px;
		font-size: 18px;
		margin-bottom: 5px;
		img{
			vertical-align: bottom;
		}
	}
	.comment-meta{
		font-size: 14px;
		margin-bottom: 10px;
		padding: 0 12px;
	}
	p{
		padding: 0 12px;
		margin-bottom: 5px;
	}
	.reply{
		height: 24px;
	}
	.comment-reply-link{
		text-decoration: none;
		background: white;
		padding: 5px;
		vertical-align: middle;
		float:right;
	}
}

/*nav*/
.sidebar {
	z-index: 10; 
	position: absolute;
	width: 170px;
	min-height: 450px;
	float: left;
	top: 0;
	bottom: 0;
	background: #000;
	padding: 140px 0 0 30px;
}

nav {
	margin-top: 30px;
	ul {
		font-family: "Arial", Helvetica, sans-serif;
		list-style-type: none;
		li {
			margin: 12px 0 0 0;
			a {
				text-decoration: none;
				font-size: 15px;
				color: @ineffable;
			}
		}
	}
}

.menu {
	padding-left: 10px;
}

/*header*/
.site-description {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: gray;
	font-size: 12px;
	padding-top: 15px;
	width: 130px;
}
p {
	padding-bottom: 10px;
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 16px;
	line-height: 22px;
}
strong, b {
	font-weight: bold;
}
em {
	font-style: italic;
}
ul {
	list-style: square;
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 16px;
	line-height: 24px;
	padding-left: 20px;
}
h1 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
    line-height: 24px;
}
.title a, .title a:hover, .title a:link, .title a:visited{
	color: white;
	text-decoration: none;
}
h2 {
	font-size: 1.5em;
	margin-top: 0;
	padding: 0;
}
h3 {
	font-size: 18px;
}
h4 {
	font-weight: bold;
	padding-bottom: 10px
}
#footer {
	position: absolute;
	bottom: 10px;
	padding: 20px;
	left: 0;
	color: #444; 
	font-size: smaller;

	a {
		text-decoration: none;
		color: #666;
	}
}

.entry-title-index {
	font-weight: 900;
	text-transform: uppercase;
	a {
		font-size: 14px;
		color: @ineffable;
		text-decoration: none;
	}
	a:hover {
		color: @ineffable;
	}

}

.entry-header-index {

    display: none;
	position: relative;
	bottom: 78px;
	left: 0;
	max-width: 158px;
	padding: 4px 8px 4px 8px; 
	background: white;
	opacity: 0.9;
}

.categ {
	font-weight: 900;
	text-transform: uppercase;
	a {
		font-size: 14px;
		color: @ineffable;
		text-decoration: none;
		line-height: 26px;
	}
	a:hover {
		color: @ineffable;
	}
}

.carouselgallery {
    position: relative;
    height: 332px;
    padding-top: 20px;
    padding-bottom: 20px;

	img {
		.image();
	}

	img.portrait {
		.image-portrait();
	}
}

.isotope-item {
	overflow: hidden;
	z-index: 3;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 2;
}

.helper {
    position: absolute;
    top: 40%;
    text-align: center;
    display: inline-block;
}
.helper-right {
    .helper();
    right: 15%;
}
.helper-left {
    .helper();
    left: 15%;
}

.image{
	width: 100%;
	height: auto
}
.image-portrait{
	width: auto;
	height: 100%;
}
.item {
	float: left;
	background: #EEE;
	margin: @isomargin;
	width: @isoitem;
	height: @isoitem;
	img {
		.image();
		display: block;
	}
    &:hover > .entry-header-index {
        display: block;
    }
}

.item.portrait img {
	.image-portrait();
}

.item.w2 { width: (@isoitem * 2) + @isopad; }
.item.h2 { height:(@isoitem * 2) + @isopad; }
.item.w3 { width: (@isoitem * 3) + (@isopad * 2);}
.item.h3 { height:(@isoitem * 3) + (@isopad * 2);}
.item.w4 { width: (@isoitem * 4) + (@isopad * 3);}
.item.h4 { height:(@isoitem * 4) + (@isopad * 3);}

.big {
	height: 100%;
	min-height: (@isoitem * 2) + @isopad;

    .entry-header-index {
        display: block;
	    position: relative;
	    bottom: 78px;
	    left: 0;
	    max-width: 158px;
	    padding: 4px 8px 4px 8px; 
	    background: white;
	    opacity: 0.9;
    }


	.blogpostpreview {
		position: relative;
		top: -370px;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%
	}

	.blogpostpreviewtextwrapper {
		position: absolute;
		top: 0;
		bottom: 0;
        right: 0;
        left: 0;
		overflow: hidden;
		border-left: @border;
		border-right: @border;
		border-bottom: @border;
	}
}

.blogpostpreviewtextbg {
	height: 100%;
	background: -moz-linear-gradient(
		top,  rgba(255,255,255,0) 0%,
		rgba(255,255,255,0.75) 5%,
		rgba(255,255,255,0.87) 12%,
		rgba(255,255,255,1) 40%,
		rgba(255,255,255,1) 99%);
	/* FF3.6+ */
	background: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0)),
		color-stop(5%,rgba(255,255,255,0.75)),
		color-stop(12%,rgba(255,255,255,0.87)),
		color-stop(40%,rgba(255,255,255,1)),
		color-stop(99%,rgba(255,255,255,1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(
		top,  rgba(255,255,255,0) 0%,
		rgba(255,255,255,0.75) 5%,
		rgba(255,255,255,0.87) 12%,
		rgba(255,255,255,1) 40%,
		rgba(255,255,255,1) 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(
		top,  rgba(255,255,255,0) 0%,
		rgba(255,255,255,0.75) 5%,
		rgba(255,255,255,0.87) 12%,
		rgba(255,255,255,1) 40%,
		rgba(255,255,255,1) 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(
		top,  rgba(255,255,255,0) 0%,
		rgba(255,255,255,0.75) 5%,
		rgba(255,255,255,0.87) 12%,
		rgba(255,255,255,1) 40%,
		rgba(255,255,255,1) 99%);
	/* IE10+ */
	background: linear-gradient(
		to bottom,  rgba(255,255,255,0) 0%,
		rgba(255,255,255,0.75) 5%,
		rgba(255,255,255,0.87) 12%,
		rgba(255,255,255,1) 40%,
		rgba(255,255,255,1) 99%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorstr='#00ffffff',
		endColorstr='#ffffff',
		GradientType=0 );
    /* IE6-9 */
}


.blogpostpreviewtext {
	overflow: hidden;
	height: 100%;
	padding: 30px;
	padding-top: 40px;

	p{
		font-size: 18px;
		line-height: 27px;
		color: black;
	}
}

.gallery.big {
	.item.w3();

	.gallerytextwrapper {
		position: relative;
		overflow: hidden;
		background: white;
		border-left: @border;
		border-right: @border;
		border-bottom: @border;
	}

	.readmore {
		position: absolute;
		bottom: -3px;
	}
}

.sort{
	display: none;
}

.blogpost.big {
	.item.w2();
    .item.h3();

	.readmore {
		top: -575px;
	}

	.entry-header-index {
		position: relative;
		top: -369px;
		max-width: 90%;
		padding: 4px 8px 4px 8px;
		margin: 98px 6px 0px 0px;
		background: white;
		opacity: 0.9;
	}
}

.big {

	.thumb {
		height: 370px;
		width: auto;
	}

	.lightbox.thumb{
		height: 100%;
		width: auto;
	}
	.lightbox img{
		height: 100%;
		width: auto;
	}
	.readmore {
		position: relative;
		left: 0;
		right: 0;
		height: 75px;
		text-align: center;
		color: @ineffable;
		font-size: 20px;
		margin: 3px;
		border-bottom: @border;
		background: -moz-linear-gradient(
			top, rgba(255,255,255,0) 0%,
			rgba(255,255,255,1) 30%,
			rgba(255,255,255,1) 100%);
		/* FF3.6+ */
		background: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0%,rgba(255,255,255,0)),
			color-stop(30%,rgba(255,255,255,1)),
			color-stop(100%,rgba(255,255,255,1)));
		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient(
			top, rgba(255,255,255,0) 0%,
			rgba(255,255,255,1) 30%,
			rgba(255,255,255,1) 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(
			top, rgba(255,255,255,0) 0%,
			rgba(255,255,255,1) 30%,
			rgba(255,255,255,1) 100%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(
			top, rgba(255,255,255,0) 0%,
			rgba(255,255,255,1) 30%,
			rgba(255,255,255,1) 100%);
		/* IE10+ */
		background: linear-gradient(
			to bottom, rgba(255,255,255,0) 0%,
			rgba(255,255,255,1) 30%,
			rgba(255,255,255,1) 100%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#00ffffff',
			endColorstr='#ffffff',
			GradientType=0 );
		/* IE6-9 */

		a {
			text-decoration: none;
			position: relative;
			top: 35px;
		}
	}
}

.picture.big {
	.big();
}

.linkcontainer {
	text-decoration: none;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope { 
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
		  height:	100%;
}

.isotope .isotope-item {
  z-index: 2;
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 15px auto 15px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 30px 20px 0;
}

.aligncenter {
    display: block;
    margin: 30px auto 30px auto;
}

a {

	img {
	}

	img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	img.alignnone {
		margin: 5px 20px 20px 0;
	}

	img.alignleft {
		float: left;
		margin: 5px 30px 20px 0;
	}

	img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;

	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}

	.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

// lightbox
.mfp-no-margins{
	/* padding-bottom and top for image */
	img.mfp-img {
		padding: 0;
	}
	/* position of shadow behind the image */
	.mfp-figure:after {
		top: 0;
		bottom: 0;
	}
	/* padding for main container */
	.mfp-container {
		padding: 0;
	}
}
.thumb{
	height: 100%;
	width: 100%;
	cursor: pointer;
}
